@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "popup/urlbar-results.css";

.tab-line[selected="true"] {
    background-color: #24D1E7 !important;
}

#urlbar[focused=true] {
    border-color: #24D1E7 !important;
    background-color: #202124 !important;
}

#urlbar {
    background-color: #202124 !important;
}

.uautocomplete-richlistitem[selected="true"],
.urlbarView-row[selected] {
    background-color: #24D1E7 !important;
}

::-moz-selection {
    background-color: #24D1E7 !important;
}

/*#titlebar {
    visibility: collapse;
}*/
